@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
  --padding-container: 100px 0;
  --color-title: #ffffff;
}

body, html {
  font-family: 'Open Sans', cursive;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }   

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
  
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; 
  /* left: 0; */
  width: 100%;
  height: 10%;
}

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-weight: 300;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: white;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

.nav__close {
  display: var(--show, none);
}

.hero__container {
  max-width: 800px;
  display: grid;
  --padding-container: 0;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero__title {
  font-size: 2.5rem;
}

.hero__paragraph {
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  background-color: #252525;
  justify-self: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  border: 0px;
  border-radius: 15px;
}

.input_box{
  display: inline-block;
  background-color:#303030;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 500px;
  border-radius: 9px;
  padding: 10px;
}

#results{
 color:rgb(0, 225, 255);
 text-decoration: none;
}

.link{
  margin-top: 1rem;
}

.home {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgb(255, 255, 255);
  margin: 7px;
  border-radius: 7px;
  background: #f5b4be;
  padding: 7px 10px;
  font-size: calc(10px + 0.2vw); text-shadow: 0 0 7px #000;
  opacity: 1.5;
}
.home .textwidget {
  font-size: inherit;
}
.home p {
  margin: 0;
}