RewriteEngine on
Options -Indexes

RewriteCond %{HTTP_REFERER} !^http://hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hactify.ru$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kangarooos.hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kangarooos.hactify.ru$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hactify.ru$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kangarooos.hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kangarooos.hactify.ru$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hactify.ru$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kangarooos.hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kangarooos.hactify.ru$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hactify.ru$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kangarooos.hactify.ru/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kangarooos.hactify.ru$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|mp4|mp3)$ - [F,NC]
